<?php
//error_reporting(E_ALL);
define ('CONF_ENGINE_SERVER_MAIN_URL',	'http://localhost:8000/game');
//define ('CONF_ENGINE_SERVER_MAIN_URL',	'http://mammun.de:8223/game');
define ('CONF_PAYMENT_SERVER_MAIN_URL',	'http://localhost:8001/game');
//define ('CONF_PAYMENT_SERVER_MAIN_URL',	'http://mammun.de:8225/game');

define ('CONF_WCF_SERVER_URL', 'http://localhost/mammun_community');
define ('CONF_MAP_PICS_SERVER_URL',	'http://www.mammun.com:9000');

if ($_SERVER['SERVER_PORT'] != 80) {
	define ('CONF_MY_SERVER_URL', 'http://'.$_SERVER['SERVER_NAME'].':'.
										$_SERVER['SERVER_PORT'].'/mammun');
}
else {
	define ('CONF_MY_SERVER_URL', 'http://'.$_SERVER['SERVER_NAME'].'/mammun');
}

define ('CONF_LOGIN_PAGE_URI',	'_login.php');

define ('CONF_FACEBOOK_API_KEY',    'dfe8095e927df2d0f43c5628d4a22a8e');
define ('CONF_FACEBOOK_API_SECRET', '2095619c0714aaf1d624178550665d8d');
define ('CONF_FACEBOOK_APP_URL',	'http://apps.facebook.com/my_mammun_sandbox');
?>